.nav ul:before,
.nav ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.nav ul:after {
    clear: both;
}
.nav ul {
    *zoom: 1;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul{
	display: block;	
}

nav ul {
	display: inline;
	list-style: none;
	position: relative;
	padding: 0 20px;
}

nav ul li {
	float: left;
	display: block;
}

nav ul ul {
	/*position: absolute;*/
	top: 100%;
	padding: 0;
}

