.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 62.5%;
}
img {
	width: 100%;
}
div {
	/*display: block;*/
}
#shell {
	width: 1000px;
	/*background-color: grey;*/
	height: 2000px;
	margin: 0 auto;
	text-align: left;
}
#header {
	color: #fff;
	/*background-color: orange;*/
	width: 1000px;
	height: 90px;
	position: relative;
}
#content {
	/*background-color: black;*/
	color: #000;
	margin: 0;
	padding: 0;
}
#stereo1 {
	width: 200px;
	background-color: black;
}
#stereo1, #stereo2, #home_logo {
	float: left;
	height: 82px;
}
#home_logo {
	border-left: 2px solid white;
	border-right: 2px solid white;
}
#stereo2 {
	width: 398px;
	background-color: black;
	color: #fff;
	/*margin: 10px;*/
}
#stereo2 #subscribe {
	position: relative;
	padding: 30px;
	top: 30px;
	font-size: 16px;
}
#primary_package {
	/*clear: right;*/
	width: 1000px;
}
#primary_package h5 {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #333333;
	margin: 0;
}
#primary_package h1 {
	margin: 0;
}
.row {
	margin: 0;
}
#row1 {
	/*margin-top: 12px;*/
	/*width: 100;*/
}
#primary_package #row2 {
	clear: both;
}
.pic {
	width: 200px;
	float: left;
}
.headline {
	width: 380px;
	float: left;
	margin: 10px;
}
.headline2 {
	width: 180px;
	float: left;
}
.headline4 {
	width: 180px;
	float: left;
}
.headline5 {
	width: 180px;
	float: left;
}

#nav-wrap {
	position: relative;
	left: -10px;
	width: auto;
	font-family: "calibre-1", "calibre-2", helvetica, arial, sans-serif;
	background-color: #000;
}

nav {
	position: relative;
	min-height: 50px;
	margin: 0 auto;
	color: #fff;
	font-size: 1.2em;
	font-weight: 800;
	
}
nav li {
	display: inline;
	text-transform: uppercase;
	padding: 18px 5px;
	float: left;
	position: relative;
	left: -35px;
}
ul.nav-extras {
	float: right;
	position: relative;
	right: -25px;
}

li.secondary {
	color: #00aeef;
}

#contentwell {
	position: relative;
	float: left;
	/*clear: both;*/
	margin: 10px 0 0 0;
	width: 690px;
	height: 200px;
	/*background-color: grey;*/
}
#secondary_package * {
	padding: 5px 8px;
	margin: 0;
}
#secondary_package .pic1 {
	width: 200px;
	float: left;
	/*margin-right: 10px;*/
}
#secondary_package .headline2 {
	
}
#secondary_package h5 {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'calibre-1', 'calibre-2', helvetica, arial, sans-serif;
	color: #333333;
	font-weight: 600;
	/*margin: 3px;*/
	padding-bottom: 0;
	margin-bottom: -5px;
}
#secondary_package .headline2 h1 {
	/*margin: 0;*/
	font-size: 1.6em;
	line-height: 1.1em;
	font-weight: 400;
	/*margin-bottom: 20px;*/
	/*float: left;*/
}
#secondary_package .headline1 {
	width: 245px;
	float: left;
}
#secondary_package .headline1 h1 {
	/*padding: 5px 8px;*/
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}
