body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.page {
	width: 960px;
	margin: 0 auto;
}
nav {
	height: 28px;
	background-color: #2c2c2d;
}
nav li {
	list-style-type: none;
	display: inline;
	color: #fff;
}
div .promo {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	line-height: 1;
}
.line {
	margin-bottom: 1px solid #000;
}