ul.dropdown {
	position: relative; 
}
ul.dropdown ul {
	width: 220px; 
	visibility: hidden;
	position: absolute; 
	top: 100%;
	left: 0; 
}
ul.dropdown ul ul {
	left: 100%; 
	top: 0; 
}
ul.dropdown li:hover > ul {
	visibility: visible; 
}